<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Users</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
    <div class="container">
    	<h1>Manage your Meds</h1>
    	<div>
    		<a th:href="@{/login}">Please log In</a>
    	</div>    
    </div>

    </body>
</html>